{% extends 'ride/base.html' %}

{% block title %}Cameras{% endblock %}

{% block main %}
<div class="events-main">
  <menu>
    <h3>Cameras</h3>
    <p><a href="{% url 'events:list' %}" class="{% if '/cameras/list' in request.path %}active{% endif %}">List</a></p>
    <p><a href="{% url 'events:create' %}" class="{% if '/cameras/create' in request.path %}active{% endif %}">Create</a></p>

  </menu>
  <main>{% block content %}Calm yourself, Pete.{% endblock content %}</main>
</div>
{% endblock main %}