{% load l10n %}

<div id="{{ id }}_div_map" class="dj_map_wrapper">
  <div id="{{ id }}_map" class="dj_map"></div>
  <textarea id="{{ id }}" class="vSerializedField required" name="{{ name }}" hidfden>{{ serialized }}</textarea>
  <script>
    const base_layer = new ol.layer.VectorTile({
      declutter: true,
      source: new ol.source.VectorTile({
        format: new ol.format.MVT(),
        url: 'https://tiles.arcgis.com/tiles/ubm4tcTYICKBpist/arcgis/rest/services/BC_BASEMAP_20240307/VectorTileServer/tile/{z}/{y}/{x}.pbf',
      }),
      style: function(feature, resolution) { return null; },
    });
    const options = {
      base_layer: base_layer,
      geom_name: 'GeometryCollection',
      id: '{{ id }}',
      map_id: '{{ id }}_map',
      srid: 'EPSG:3857',
      name: '{{ name }}',
      default_lat: {{ default_lat|unlocalize }},
      default_lon: {{ default_lon|unlocalize }},
      default_zoom: {{ default_zoom|unlocalize }},
      is_collection: true,
    };
    var {{ module }} = new MapWidget(options);
  </script>
</div>
