{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RIDE: {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'ride/default.css' %}">
  <link rel="stylesheet" href="{% static 'events/events.css' %}">
  <link rel="stylesheet" href="{% static 'events/ol-10.4.0.css' %}">
  <script src="{% static 'events/ol-10.4.0.js' %}"></script>
  <script src="{% static 'events/overrides.js' %}"></script>
  <script src="{% static 'events/widget.js' %}"></script>
  <script src="{% static 'events/olms.js' %}"></script>
</head>
<body>
  <header>
    <h1><a href="/" class="{% if request.path == '/' %}active{% endif %}">RIDE</a></h1>
    <ul>
      <li><a href="/events/" class="{% if '/events/' in request.path %}active{% endif %}">Events</a></li>
      {% comment %} <li><a href="/cameras/" class="{% if '/cameras/' in request.path %}active{% endif %}">Cameras</a></li> {% endcomment %}
      <li class="disabled">Cameras</li>
      <li class="disabled">DMS</li>
      <li class="disabled">VSLS</li>
      <li class="disabled">Ferries</li>
    </ul>
    <div class="user">
      <ul>
        <li><a href="/profile/" class="{% if '/profile/' in request.path %}active{% endif %}">Profile</a></li>
      </ul>
    </div>
  </header>
  <main>{% block main %}{% endblock %}</main>
</body>
</html>
